body{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url(mitchell-luo-rxDDM0am7d8-unsplash.jpg);
    background-size: cover;
    font-weight: bold;
    padding: 0px;
    margin:auto;
    color: white;
}

.continar{
    /* background-image: url(jason-dent-QSIq9ncQkzY-unsplash.jpg);
    background-size: cover; */
    background-color: hsla(16, 25%, 38%, 0.71);
    width: 435px;
    height: 100vh;
    padding: 20px;
    margin: auto;
    font-size: 35px;
}
h1{
    color:  hsla(65, 100%, 67%, 0.911);
    font-size: 40px;
}
#message-el {
    font-style: italic;
}
.butt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
button {
    color:  #795548;
    width: 200px;
    background-color:  hsla(65, 89%, 58%, 0.877);
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 5PX;
    margin-bottom:15px ;
    box-shadow: 4px 5px 5px 3px rgba(0, 0, 0, 0.5);
}
#player-el{
    font-size: 20px;
}
button:hover{
    transform: translate(0,2px);
    box-shadow: inset 4px 5px 5px 3px rgba(0, 0, 0, 0.5);
}